langchain==0.0.250
python-dotenv==0.19.0
streamlit==1.0.0
tiktoken==0.3.0
faiss-cpu
protobuf==3.15.0
langchain_experimental
langchain-google-genai
mysql-connector-python==8.0.20
pymysql==0.9.3
sentence-transformers==2.0.0
chromadb==0.3.0
plotly==5.0.0
pandas==1.1.0
openpyxl==3.5.0
requests==2.6.0
urllib3==1.9.1
Pillow==5.4.0
jinja2==2.7.2